<!DOCTYPE html>
<html>
    <head>
        <title>Instructions</title>
        <style type="text/css">
            body {
                font-family: sans-serif;
                background: #999;
            }
            
            h1, h2, h3 {
                color: white;
            }
            
            h2 {
                border-bottom: 1px solid white;
            }
            
            #content {
                background: #333;
                color: #ccc;
                width: 500px;
                margin: 10px auto;
                padding: 10px 20px;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <%- instructionsHTML %>
        </div>
    </body>
</html>
