<div class="tabs">
    <ul>
        <li><a href="#student-login">Student</a>
        <li><a href="#instructor-login">Instructor</a>
    </ul>
    <div id="student-login">
        <form name="student">
            <label for="loginID">Student ID</label>
            <input type="text" name="loginID">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="submit" value="Sign In">
        </form>
    </div>
    <div id="instructor-login">
        <form name="instructor">
            <label for="loginID">Teacher ID</label>
            <input type="text" name="loginID">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="submit" value="Sign In">
        </form>
    </div>
</div>
