<div id="status-message"></div>

<div id="stage-list">
    <h3>Available Levels</h3>
    <ol>
        <% for (var i in levels) { var level = levels[i]; %>
        <li>
            <button class="level" type="button" value="<%= level %>"><%= level %></button>
        </li>
        <% } %>
    </ol>
</div>

<div id="game-container">
</div>
