<div id="status-message"></div>

<% if (!student) { %>
    <a id="instructor-dashboard-link" href="/instructor">Back to instructor dashboard</a>
<% } %>

<div id="bug-notice"><h4>If the game fails to load properly, please reload this page.</h4></div>

<div id="stage-list">
    <h3>Levels</h3>
    <ol>
        <% for (var i in levels) { var level = levels[i]; %>
        <li>
            <button class="level" type="button" value="<%= level.id %>"><%= level.displayName %></button>
        </li>
        <% } %>
    </ol>
</div>

<div id="game-container">
</div>

<div>
    <button id="instructions-link" style="display:none;">Instructions</Button>
</div>