<div id="status-message"></div>

<% if (!student) { %>
    <a id="instructor-dashboard-link" href="/instructor">Back to instructor dashboard</a>
<% } %>

<div id="bug-notice"><h4>If the game fails to load properly, please reload this page.</h4></div>

<div id="stage-list">
    <center>
        <h3>Levels</h3><br>
        <table border="1">
          <tr>
            <% for (var i in sequences ) { var seq = sequences[i]; %>
            <td valign="top">
            <h2><%= seq.displayName %></h2><br>
            <ol>
                <% for (var j in seq.stages) { 
                       var stage = seq.stages[j]; %>
                <li>
                    <button class="level" type="button" id="<%= stage.id %>" value="<%=  seq.id +'/'+ stage.id %>" <%
                    if( student && student.stageLocking[seq.id][stage.id]){ %>disabled<% } %>>
                        <%= stage.displayName %>
                    </button>
                </li>
                <% } %>
            </ol>
            </td>
            <% } %>
          </tr>
        </table>
    </center>
</div>

<div id="game-container">
</div>

<div>
    <button id="instructions-link" style="display:none;">Instructions</Button>
</div>