body {
    font-family: sans-serif;
}

#header > div.login-info {
    float: right;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    display: block;
}

#new-student-dialog form {
    font-size: small;
}
